.main {
    width: 100vw;
}

.phone {
    display: flex;
    width: 100%; /* will be updated */
}
.phone__left__side div:not(:first-child){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.left__content__one,
 .left__content__two, 
 .left__content__three, 
 .left__content__four,
 .right__content__1,
 .right__content__2,
 .right__content__3,
 .right__content__4 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phone__right__side div:not(:first-child){
    height: 100vh;
}
.top {
    width: 100vw;
    margin: 0 auto;
}
.top  h1{
    font-size: 3rem;
    /* margin-left: 50px; */
    margin: 0 auto;
    margin-bottom: 150px;
    text-align: justify;
    width: 70vw;
}
.top p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

 .left__content__one h1 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 10px;
 }

 .left__content__three h1 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 10px;
 }
 .left__content__one p{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 10px;
 }

 .left__content__three p{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 10px;
 }
.right__content__2 h1{
    font-size: 32px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.right__content__4 h1 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.right__content__2 p{
    text-align: left;
    font-size: 18px;
    margin-right: 10px;
} 
.right__content__4 p {
    text-align: left;
    font-size: 18px;
    margin-right: 10px;
}

  .imagecontainer {
    position: sticky;
    top: 0;
    text-align: center;
  }
  
  .imagecontainer img {
    height: 1000px;
    /* max-width: 600px; */
    transition: opacity 0.5s ease;
  }
  
  .content {
    height: 400vh; /* Make the content tall enough to scroll */
  }
  
  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }






